<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
</div>

<div class="row text-center animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert  alert-info" role="alert">
            <h4 class="alert-heading">Cargando...</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div>

<div class="row" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="text-right">
                    <button class="btn btn-primary"><i class="fa fa-hospital-o"></i> Crear Hospital</button>
                </div>
                <h4 class="card-title">Hospitales ({{hospitales.length}})</h4>
                <h6 class="card-subtitle">Hospitales registrados en mi aplicación</h6>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Foto</th>
                                <th class="w-100">Nombre</th>
                                <th class="text-nowrap">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let hospital of hospitales">
                                <td>
                                    <img class="img-avatar cursor" [src]="hospital.img | imagen: 'hospitales'" [alt]="hospital.nombre">
                                    <!-- {{hospital.img | imagen: 'hospitales'}} -->
                                </td>
                                <td><input type="text" class="form-control" placeholder="Nombre de Hospital" [(ngModel)]="hospital.nombre"></td>

                                <td class="text-nowrap text-center">
                                    <a data-toggle="tooltip" (click)="guardarCambios(hospital)" class="cursor" data-original-title="Guardar Cambios"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                    <a data-toggle="tooltip" (click)="eliminarHospital(hospital)" class="cursor" data-original-title="Borrar"> <i class="fa fa-close text-danger"></i> </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>